MLNetLab/.ipynb_checkpoints
MLNetLab/tfnetcode/TF_DEEP_LearnDemo/bin
MLNetLab/tfnetcode/TF_DEEP_LearnDemo/obj 
MLNetLab/tfnetcode/TF_DEEP_WIN_GPU_LearnDemo/bin
MLNetLab/tfnetcode/TF_DEEP_WIN_GPU_LearnDemo/obj 
AzureMLLab/02_ComputerVision_AzureML/config.json